h1 {
    font-size: 1.4rem;
    padding-top: 12px;
}
.mt-3 {
    margin-top: 0rem !important; 
}

body {
    background: white
}

.container{
    background-color: #9ea5b0;
    background: #e0e0e0;
    box-shadow:  16px 16px 33px #c3c3c3,
             -16px -16px 33px #fdfdfd;
}    

nav {
    background-color: #353536;
}

.btn{
    background-color: #dea828;
    color: white;
}

.logo{
    width: 20%;
    height: 20%;
}

@media (max-width: 990px) {
    .logodiv {
       display: none;
    }
}
@media (max-width: 1130px) {
    .btn {
       margin-top: 8px;
    }
}

.nav-link{
    color: white;
    margin-right: 60px;
    vertical-align:middle;
    font-size: 20px;
}

.nav-item{
    color: white;
    margin-right: 60px;
    vertical-align:middle;
    font-size: 20px;
}
.navbar{
    margin-top: 0px;
    padding-top: 0px;
}