body
{
    margin: 0;
    padding: 0;
}

.navbar {
    background-color: #5E4E4E;
    display: flex;
    justify-content: flex-end;
    overflow: hidden;
}

.navbar a {
    display: flex;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    align-items: center; 
}

.navbar a:hover {
    background-color: #ddd;
    color: black;
}

.navbar img 
{
    height: 100px;
    margin-right: auto;
}

@media screen and (max-width: 600px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .navbar a 
    {
        justify-content: center;
        width: 100%;
    }

    .navbar img 
    {
        display: block;
        margin: auto;
    }
}